@use 'sass:color';
$primary-color: #b87417;
$secondary-color: #79334D;

h1 {
    background-color: color.adjust($primary-color, $lightness: -10%);
    color: white;
}
h2 {
    background-color: color.adjust($secondary-color, $lightness: 10%);
    color: white;
}
h3 {
    background-color: color.adjust($primary-color, $saturation: -30%);
    color: white;
}
h4 {
    background-color: color.adjust(#cc8850, $saturation: 30%);
    color: white;
}
h5 {
    background-color: color.scale($secondary-color, $alpha: -80%);
    color: white;
}
